<div class="section">
  <h4>Navigation History:</h4>
  <button
    *ngIf="!(navigationHistory | async | oneElementInHistory)"
    (click)="goBack()"
  >
    Back
  </button>
  <div class="storyline-elements-container">
    <app-single-item
      class="section storyline-voice"
      *ngFor="
        let navigationHistoryElement of navigationHistory | async;
        index as i;
        let last = last
      "
      (click)="selectNode(i)"
      [item]="navigationHistoryElement"
      [suffix]="last ? '' : ' >'"
    >
    </app-single-item>
  </div>
</div>
