<div class="subnodes section">
  <h4>Subnodes:</h4>
  <ul
    *ngIf="
      (navigationHistory | async | lastHistoryElement: 'subNodesId').length > 0;
      else noSubnodesBlock
    "
  >
    <li
      *ngFor="
        let node of navigationHistory
          | async
          | lastHistoryElement: 'subNodesId'
          | getNodesByIdPipe;
        index as i
      "
    >
      <app-single-item
        (selectNode)="selectNode($event)"
        [item]="node"
        [prefix]="'+'"
      ></app-single-item>
    </li>
  </ul>
  <ng-template #noSubnodesBlock>This node has no subnodes</ng-template>
</div>
